@charset "utf-8";

/* Reset CSS*/
*{ margin:0; padding:0;}
ol,ul { list-style:none;}
a { outline:0; text-decoration:none; color:#555;}
img{ border:0;}
body{margin:0 auto;  font-weight: 100; font-family: 'Open Sans', sans-serif; font-size:12px; color:#555; }

h2{color:#191d22; font-weight: 100; font-family: 'Open Sans', sans-serif; }


/*모바일*/
@media screen and (max-width:599px) {
    
    /*header*/
    div.header{
        width: 320px;
        height:60px;
        background-color: #fff;
        position:fixed;
        border: 1px solid #e4e4e4;
    }

    div.main_nav_wrapper{
        width:320px;
        margin: 0 auto;
    }

    div.main_nav_wrapper h1{
        float:left;
        padding-top:8px;
    }

    div.gnb{
        overflow: hidden;

    }

    div.gnb ul{
        float:right;
    }

    div.gnb ul li{
        display: inline-block;
        color:#393b3a;
        padding: 20px;
        font-size: 15px;
        font-weight: bold;

    }

    /*main_video_loaded*/

    div.main_video_loaded{
        margin:0 auto;
        text-align: center; 
    }

    div.main_img {
        width:320px;
        height:900px;
        color:#fff;
        text-align: center;	
        background:url(../images/main_visual02.jpg) no-repeat ;
        overflow:hidden;
        margin:0 auto
        background-position:50% 50%;
        background-size:cover;
    }

    div.main_img h1 {
        margin-top:200px;
        letter-spacing: 0.075em;
        font: 400 50px "brandon-grotesque", sans-serif;

    }

    div.main_img h2 {
        font-size: 40px;
        margin:60px 0 20px 0;
        color: #fff;
        font: italic 300 40px "Open Sans", "open-sans", sans-serif;
    }



    div.video_wrapper div.main_img p {
        font-size: 40px;
        letter-spacing: 0.075em;
        font: italic 300 40px "Open Sans", "open-sans", sans-serif;
    }

    div.main_img div.play_btn{
        text-align: center;
        margin-top:60px;

    }


    /* contents */


    div.contents{
        width:320px;
        margin:0 auto;	
        overflow:hidden;
    }


    div.about_me_wrapper{
        height:860px;
        margin:0 auto;


    }


    div.about_me_wrapper h2  {
        font-size:50px;
        text-align: center;
        padding-top:128px;

    }


    div.about_me_wrapper {
        overflow: hidden;
    }

    div.about_me_wrapper div.left ul li{
        float:left;
        font-size:16px;
        margin-right: 150px;
        padding-top: 70px;
        color: #4b4b4b;
    }

    div.about_me_wrapper div.left ul li:nth-child(1){
        font-size:40px;
        font-family: regular 400;
        letter-spacing: normal;
        padding-bottom: 20px;
    }

    div.about_me_wrapper div.left ul li:nth-child(2){
        padding-top:10px;
        line-height: 1.9em;
    }

    div.about_me_wrapper div.right{
        float: right;
        padding-top:40px;
    }


    /* skill_wrapper */


    div.skills_wrapper{
        margin: 0 auto;
        padding-top:130px;
    }


    div.skills_wrapper div.skills{
        background:#eaedef;
        border-top:1px solid #cfd5e1; 
        overflow: hidden;
        padding:30px 0 30px 130px;
    }

    div.skills_wrapper div.line-f{
        border-bottom:1px solid #cfd5e1;
    }

    div.skills_wrapper div.line-f ul li{
        font-size:50px;
        vertical-align: middle;
        padding-top: 20px;
    }

    div.skills_wrapper div.skills div.s-title h2{
        color: #191d22;
        font-size: 45px;
    }

    div.skills_wrapper div.skills div.s-title{
        float:left;
    }

    div.skills_wrapper div.skills div.s-title p{
        color: #798690;
        font-size: 20px;
    }

    div.skills_wrapper div.skills ul li{
        display: inline-block;
        padding-right: 100px;
        color: #3586be;
        font-size: 23px;
        font-weight: bold;
    }

    div.skills_wrapper div.skills ul {
        float: right;

    }


    /* work */
    div.work{
        margin:0 auto;
    }

    div.work_list_wrapper {
        overflow:hidden;
        margin:0 auto; 
        text-align: center; 
    }

    div.work_list_wrapper h2{
        font-size:50px;
        text-align: center; 
        padding-top: 130px;
    }


    div.work_box {
        float:left;
        width:340px;
        margin:80px 50px 80px 0;
        font-family:"Nanum Gothic"; 
    }

    div.work_list_wrapper div.work_box p{
        font-size: 18px;
        color: #7e8890;
    }

    div.work_list_wrapper div.work_box p:nth-child(1){
        background:rgba(255,255,255,0.3);
        text-transform:uppercase;
        cursor:pointer;
    }

    div.work_list_wrapper div.work_box p:first-child img:hover{
        opacity:1;
        -webkit-transform:scale(1.2);
    }

    div.work_list_wrapper div.work_box p:first-child img{
        opacity:0.6; 
        -webkit-transition:all 0.5s ease-in-out;
    }

    div.work_list_wrapper div.work_box p:nth-child(2){
        font-size: 25px;
        font-weight: bold;
        color:#fc3768;
        padding:38px 0 23px 0;
    }

    div.work_box p{
        padding-bottom: 12px;
        font-size: 30x;
    }




    /*lets talk*/

    div.lets_talk_wrapper h2{
        position:relative;
        top:50px;
        bottom:40px;
        font-size: 40px;
    }

    div.lets_talk_wrapper p{
        font-size:18px;
        margin-top:60px;
        font-weight: 200; 
        font-family: 'Open Sans', sans-serif;
    }

    div.lets_talk_wrapper{
        background: #f7f7f7;
        border-top: 1px solid #cfd5e1;
        text-align: center;

    }


    div.lets_talk_wrapper img{
        margin:40px;
    }




    /*footer*/

    div.footer{
        width:100%;
        height:388px;
        background:#252b33;
        text-align: center; 
        position: absolute;

    }

    div.footer p{
        margin-top: 50px;
        color: #fff;
        font-size:30px;

    }

    div.copy{
        color:#7e8890;
        margin:70px;
    } 
}